.btn--big {
    width: 100%;
    margin-top: 100px;
    font-size: 20px;
}


.center {
    width: 680px;
    margin: 0 auto;
    padding: 100px 0;
}

.page__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 60px;
}

.entry__name {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 50px 0 10px 0;
}


.input {
    width: 100%;
    height: 60px;
    padding: 5px;
}

.form__error {
    color: #ff333f;
    margin-top: 8px;
}

.disable {
    color: #666 !important;
    background-color: #CCC !important;
}

.link {
    display: block;
    margin-top: 30px;
    text-align: center;
    color: #0073CC;
}