body {
    background-color: #F0EFF2;
}

.attendance-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.detail-title {
    border-left: 8px solid #000;

    width: 60vw;
    text-align: left;
}

.title {
    font-family: Inter;
    font-size: 30px;
    color: #000;
    margin-left: 20px;
}

.detail-table {
    margin-top: 20px;
    border-radius: 10px;
    background: #FFFFFF;
    width: 60vw;
}

.detail-table table {
    border-collapse: collapse;
}

.detail-table th,
.detail-table td {
    height: 100px;
    vertical-align: middle;
}

th {
    color: #737373;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 2.4px;
    font-weight: bold;
    text-align: left;
    border-bottom: solid 2px #E1E1E1;
    padding-left: 70px;
}

td {
    text-align: left;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 2.4px;
    font-weight: bold;
    border-bottom: solid 2px #E1E1E1;
}

.field-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 316px;
}

.time-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 316px;
}

.input  {
    width: 103px;
    height: 29px;
    border: #E1E1E1 solid 1px;
    border-radius: 4px;
}

.time-text {
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    color: #000;
    letter-spacing: 2.4px;
    font-weight: bold;
}

.remarks {
    width: 316px;
    height: 72px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2.4px;

    text-align: left;
        /* 左寄せ */
        white-space: pre-wrap;
        /* 折り返し有効、改行保持 */
        word-wrap: break-word;
        /* 単語で折り返す */
        overflow-y: auto;
        /* 高さ超過時に縦スクロール */
        resize: none;
        /* サイズ変更不可 */

        display: block;
}

.attendance-table tbody tr:last-child td {
    border-bottom: none;
}

.button-wrapper {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-top: 20px;
}

.button-wrapper p {
    color: red;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 2.4px;

    width: 60vw;
    text-align: right;
}

.btn-primary {
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    width: 130px;
    height: 50px;
}

.error {
    color: red;
    font-family: Inter;
    font-size: 14px;
    letter-spacing: 2.4px;
    margin: 10px 10px;
    font-weight: normal;
}