body,
html {
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;
    /* 薄いグレー背景 */
}

.verification-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.verification-container {
    width: 600px;
    padding: 40px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.verification-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.verification-text {
    font-size: 18px;
    margin-bottom: 30px;
    color: #333;
}

.auth-button {
    background-color: #000;
    /* 黒背景 */
    color: #fff;
    /* 白文字 */
    font-size: 18px;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .2s ease;
}

.auth-button:hover {
    background-color: #333;
}